* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightgray: #ff0000;
  --darkgray: #e51c1c;
}
body {
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 0px 10%;
}
nav ul {
  display: flex;
  flex: 1;
  padding: 20px 0px 20px 0px;
  gap: 33px;
  list-style-type: none;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.hoverme:hover {
  border-bottom: 2px solid green;
}
nav ul li:first-child {
  margin-right: auto;
}
nav ul li:nth-child(7) {
  margin-right: 110px;
}
nav ul li:last-child {
  margin-right: 30px;
}
nav ul li img {
  width: 260px;
}
.darkgraysection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--darkgray);
  padding: 50px 10%;
}
.lightgraysection {
  display: flex;
  background-color: var(--lightgray);
  padding: 50px 10%;
  align-items: center;
  color: white;
}
.darkgraysection ul {
  display: flex;
  gap: 45px;
  list-style-type: none;
}
.darkgraysection h2 {
  color: white;
  margin-right: 120px;
  font-size: 22.5px;
}
.darkgraysection ul li a {
  font-size: 40px;
  color: black;
}
.lightgrayui {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  gap: 25px;
}
.lightgrayright {
  display: flex;
  gap: 80px;
}

.lightgrayleft p {
  max-width: 40%;
}

.lightgrayleft h2 {
  font-size: 22.5px;
}

address ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding: 25px 10%;
}
address ul li:first-child {
  margin-right: auto;
}
address {
  background-color: #ebebeb;
  font-style: normal;
}

.header-top {
  height: 500px;
  background-image: url(../VisitKolding/Billedmateriale/b├©rnehave.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.historie-text {
  position: absolute;
  bottom: 0;
  left: 170px;
  background-color: white;
  padding: 30px 0px 30px 20px;
  width: 430px;
}
.historie-text h2 {
  font-size: 22.5px;
}
.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.header-bottom p {
  max-width: 50%;
  font-size: 18px;
}
.picture-wrapper {
  display: flex;
  justify-content: flex-start;
}
.reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: -4px;
}
.picture-left img {
  width: 951.5px;
  height: 100%;
}
.picture-right {
  flex-direction: column;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding-left: 170px;
}
.picture-right h2 {
  margin-bottom: 20px;
  font-size: 22px;
}
.picture-right p {
  max-width: 70%;
  text-align: start;
  font-size: 18px;
}
.picture-with-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bars,
.fa-x {
  display: none;
}
@media screen and (max-width: 768px) {
  nav ul li a {
    font-size: 14px;
  }
  .historie-text {
    padding: 30px 240px 30px 20px;
    left: 90px;
  }
  .header-bottom p {
    max-width: 76%;
    font-size: 16px;
  }

  nav ul li:first-child {
    margin-left: 0px;
  }
  nav ul li:nth-child(7) {
    margin-right: 0px;
  }
  nav ul {
    padding: 12px 9px 16px 0px;
  }
  nav ul li {
    text-align: center;
  }
  .picture-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .reverse {
    flex-direction: column;
  }
  .picture-left img {
    width: 750.5px;
    height: 100%;
  }
  .picture-right {
    padding: 76px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: fixed;
    z-index: 998;
    height: 100vh;
    left: -100%;
    transition: all 0.2s ease-in-out;
  }
  .fa-bars,
  .fa-x {
    display: inline;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 40px;
    cursor: pointer;
    z-index: 999;
  }
  body.active .fa-bars {
    display: none;
  }
  .fa-x {
    display: none;
  }
  body.active .fa-x {
    display: inline;
  }
  body.active nav {
    left: 0%;
    transition: all 0.2s ease-in-out;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li a {
    font-size: 30px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li:first-child {
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  .historie-text {
    padding: 30px 112px 30px 20px;
    left: 58px;
  }
  .header-bottom p {
    max-width: 76%;
    font-size: 14px;
  }
  .lightgraysection {
    flex-direction: column;
    gap: 30px;
  }
  .lightgrayleft p {
    max-width: 100%;
  }
  .lightgrayright {
    text-align: center;
  }
  .darkgraysection {
    flex-direction: column;
  }
  .darkgraysection h2 {
    margin-right: 0px;
  }
  .picture-left img {
    width: 482.5px;
  }
}
