* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
nav ul {
  display: flex;
  flex: 1;
  padding: 10px 30px 10px 30px;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.hoverme:hover {
  border-bottom: 2px solid green;
}
nav ul li:first-child {
  margin-right: auto;
  margin-left: 145px;
}
nav ul li:nth-child(7) {
  margin-right: 110px;
}
nav ul li:last-child {
  margin-right: auto;
}
nav ul li img {
  width: 260px;
}

.darkgraysection ul {
  display: flex;
  gap: 45px;
  list-style-type: none;
}
.darkgraysection h2 {
  color: white;
  margin-right: 120px;
  font-size: 25px;
}
.darkgraysection ul li a {
  font-size: 40px;
  color: black;
}
.lightgrayui {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  gap: 25px;
}
.lightgrayright {
  display: flex;
  gap: 80px;
}
.darkgraysection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e51c1c;
  padding: 50px;
}
.lightgraysection {
  display: flex;
  background-color: #ff0000;
  padding: 50px;
  align-items: center;
  color: white;
}
.lightgrayleft p {
  max-width: 40%;
}

address ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding: 25px;
}

address ul li:first-child {
  margin-right: auto;
}
address {
  background-color: #ebebeb;
  font-style: normal;
}

.header-top {
  height: 500px;
  background-image: url(../VisitKolding/Billedmateriale/mølle.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.historie-text {
  position: absolute;
  bottom: 0;
  left: 170px;
  background-color: white;
  padding: 30px 430px 30px 20px;
}
.historie-text h2 {
  font-size: 35px;
}
.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.header-bottom p {
  max-width: 50%;
  font-size: 22px;
}
.form-wrapper {
  display: flex;
  gap: 50px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.inputs input {
  height: 40px;
  border-radius: 9px;
  width: 400px;
  padding-left: 25px;
  font-family: "Roboto", sans-serif;
  outline: #ff0000 1px solid;
  border: 1px solid #ff0000;
}

textarea {
  outline: #ff0000 1px solid;
  border-radius: 9px;
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
}
button {
  background-color: #c1c1c1;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 35px;
  border-radius: 9px;
  cursor: pointer;
}
.textarea-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form {
  margin-bottom: 50px;
}
.error-message {
  display: none;
  border: 2px solid red;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  color: red;
}
.error-message.show {
  display: block;
  max-width: 100%;
}

.fa-bars,
.fa-x {
  display: none;
}

@media screen and (max-width: 768px) {
  nav ul li a {
    font-size: 14px;
  }
  .historie-text {
    padding: 30px 240px 30px 20px;
    left: 90px;
  }
  .header-bottom p {
    max-width: 76%;
    font-size: 16px;
  }
  .form-wrapper {
    flex-direction: column;
    gap: 0px;
  }
  form {
    max-width: 54%;
  }
  nav ul li:first-child {
    margin-left: 0px;
  }
  nav ul li:nth-child(7) {
    margin-right: 0px;
  }
  nav ul {
    padding: 12px 9px 16px 0px;
  }
  nav ul li {
    text-align: center;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: fixed;
    z-index: 998;
    height: 100vh;
    left: -100%;
    transition: all 0.2s ease-in-out;
  }
  .fa-bars,
  .fa-x {
    display: inline;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 40px;
    cursor: pointer;
    z-index: 999;
  }
  body.active .fa-bars {
    display: none;
  }
  .fa-x {
    display: none;
  }
  body.active .fa-x {
    display: inline;
  }
  body.active nav {
    left: 0%;
    transition: all 0.2s ease-in-out;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li a {
    font-size: 30px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li:first-child {
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  .historie-text {
    padding: 30px 112px 30px 20px;
    left: 58px;
  }
  .header-bottom p {
    max-width: 76%;
    font-size: 14px;
  }
  form {
    max-width: 84%;
  }
  .lightgraysection {
    flex-direction: column;
    gap: 30px;
  }
  .lightgrayleft p {
    max-width: 100%;
  }
  .lightgrayright {
    text-align: center;
  }
  .darkgraysection {
    flex-direction: column;
  }
  .darkgraysection h2 {
    margin-right: 0px;
  }
}
